.header {
    background-color: gray;
    height: 100px;
}

.main {
    background-color: burlywood;
    height: 500px;
    display: flex;
}

.foother {
    background-color: gray;
    height: 100px;
}
.container {
    display: flex;
    flex-direction: column;
}
.aside {
    background-color: lightpink;
    width: 20%;
}
.article {
    background-color: lightyellow;
    width: 80%;
}
.image {
    display: flex;
    justify-content: center;
}
.image img {
    width: 200px;
    margin: 1em;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
h3{
    text-align: center;
}
